body {
    font-family: 'Roboto', sans-serif;
    background-color: #2C2F33;
}

h1 {
    text-align: center;
    font-size: 50px;
    color: #EEEEEE;
}

p {
    color: #EEEEEE;
    font-size: 20px;
    text-align: center;
    margin: 20px auto;
}

a {
    color: #0f6fff;
}
